@import url(./style.css);
@import url(./header.css);
@import url(./footer.css);

body {
    margin: 0;
    padding: 0;
    background-color: var(--bs-bg-body-color);
    font-family: var(--bs-inter-font-family);
}
.textPrimary {
    color: var(--bs-text-primary-color);
}
.textActive {
    color: var(--bs-text-active-color);
}

/* Main Prising Section Styles */

.ownAiPricingPage .ownAiPricingPageSection {
    margin-top: 30px;
}

/* CARD section Styles */

.ownAiPricingPageSection .pricingPageCard {
    margin-left: 35px;
    color: var(--bs-text-primary-color);
    background-color: var(--bs-bg-body-color);
    border: 1px solid var(--bs-text-primary-color);
    border-radius: 20px;
    width: 580px;
    height: 680px;
}

.ownAiPricingPageSection .pricingPageCard .cardTop .cardHeading {
    font-size: 28px;
    font-weight: 500;
}
.ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
    font-size: 24px;
    font-weight: 400;
}
.ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
    margin: auto;
    width: 55%;
    font-size: 18px;
    font-weight: 300;
}
.ownAiPricingPageSection .pricingPageCard .cardBottom {
    justify-content: center;
    align-items: center;
}
.ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingHeading {
    font-size: 40px;
    font-weight: 500;
}
.ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingDescription {
    font-size: 24px;
    font-weight: 300;
}
.ownAiPricingPageSection .pricingPageCard .cardPricingButton {
    padding: 12px 60px;
    color: var(--bs-text-primary-color);
    border: 2px solid var(--bs-btn-bg-gradient-primary-color);
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--bs-btn-bg-gradient-primary-color), var(--bs-btn-bg-gradiant-secondary-color));
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.ownAiPricingPageSection .pricingPageCard .cardPricingButton:hover {
    background-image: linear-gradient(to right, var(--bs-btn-bg-gradiant-secondary-color), var(--bs-btn-bg-gradient-primary-color));
    transform: scale(0.9);
    transition-duration: .8s;
}

/* Arrow Button */
.ownAiPricingPageSection .pricingPageCard .cardArrowButton {
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 96%;
}

/* Image section Styles */
.ownAiPricingPage .ownAiPricingPageSection .imgLayout {
    margin: 100px 40px;
}

/* Media Queries */
@media screen and (max-width:576px) {

    /* Main Prising Section Styles */
    .ownAiPricingPage .ownAiPricingPageSection {
        margin-top: 80px !important;
    }

    /* CARD section Styles */

    .ownAiPricingPageSection .pricingPageCard {
        margin: 40px auto;
        height: 520px;
        width: 90vw;
    }
    .ownAiPricingPage .pricingPageCard .cardTop .cardImage {
        height: 60px;
        width: 60px;
    }
    .ownAiPricingPage .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 18px;
    }
    .ownAiPricingPage .pricingPageCard .cardTop .cardDescription {
        font-size: 12px;
    }
    .ownAiPricingPage .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 32px;
    }
    .ownAiPricingPage .pricingPageCard .cardBottom .cardPricingDescription {
        font-size: 20px;
    }
    .ownAiPricingPage .pricingPageCard .cardPricingButton {
        padding: 12px 35px;
        font-size: 20px;
    }

    /* Arrow Button */
    .ownAiPricingPage .pricingPageCard .cardArrowButton {
        font-size: 32px;
        left: 95%;
    }

    /* Image Section Style */
    .ownAiPricingPage .ownAiPricingPageSection .imgLayout {
        margin: 30px auto;
        width: 90vw;
        height: auto;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {

    /* Main Prising Section Styles */
    .ownAiPricingPage .ownAiPricingPageSection {
        margin-top: 80px !important;
    }

    /* CARD section Styles */
    .ownAiPricingPageSection .pricingPageCard {
        margin: 40px auto;
        height: 620px;
        width: 90vw;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardImage {
        height: 60px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 22px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
        font-size: 16px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardPricingButton {
        font-size: 16px;
    }
    /* Arrow Button */
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 35px;
    }

    /* Image Section Style */
    .ownAiPricingPage .ownAiPricingPageSection .imgLayout {
        margin: 30px auto;
        width: 90vw;
        height: auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {

    /* Main Section */
    .ownAiPricingPage .ownAiPricingPageSection {
        margin: 60px 0 !important;
    }
    .ownAiPricingPageSection .pricingPageCard {
        margin-top: 90px;
        width: 360px;
        height: 580px;
    }
    /* Text on the card */
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 18px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
        width: 80%;
        font-size: 15px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 30px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPrisingDescrition {
        font-size: 18px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardPricingButton {
        padding: 8px 30px;
    }
    /* Card Arrow Button */
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 32px;
        left: 94%;
    }

}

@media screen and (min-width:992px) and (max-width:1024px) {

    
    .ownAiPricingPage .ownAiPricingPageSection {
        margin-top: 60px !important;
    }
    /* Pricing Page Card */
    .ownAiPricingPageSection .pricingPageCard {
        width: 400px;
        height: 640px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardImage {
        height: 90px;
        width: 90px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 22px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
        font-size: 16px;
        width: 70%;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 24px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingDescription {
        font-size: 16px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingButton {
        padding: 12px 50px;
    }
    /* Arrow Button */
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton .cardArrowButton {
        font-size: 30px;
        left: 94%;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    .ownAiPricingPage .ownAiPricingPageSection {
        margin-top: 45px;
    }
    /* Pricing Page Card */
    .ownAiPricingPageSection .pricingPageCard {
        width: 420px;
        height: 580px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardHeading {
        font-size: 26px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 18px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
        font-size: 14px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 26px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingDescription {
        font-size: 22px;
    }

    /* Arrow Button */
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 35px;
        left: 95%;
    }

}

@media screen and (width:540px) {

    .ownAiPricingPageSection .pricingPageCard {
        height: 70vh;
    }
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 32px !important;
        left: 96% !important;
    }
}

@media screen and (width:768px) {

    .ownAiPricingPage {
        margin-top: 90px !important;
    }
    .ownAiPricingPageSection .pricingPageCard {
        width: 80vw;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardImage {
        height: auto;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescription {
        width: 70%;
        font-size: 16px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingDescription {
        font-size: 26px;
        line-height: 1.4;
    }
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 40px;
        left: 96% !important;
    }
    .ownAiPricingPage .ownAiPricingPageSection .imgLayout {
        margin: 30px auto;
        width: 90vw;
        height: auto;
    }
}

@media screen and (max-width:400px) {
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardHeading {
        font-size: 20px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardTop .cardDescriptionTitle {
        font-size: 16px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardDescription {
        font-size: 14px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 24px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardBottom .cardPrisingDescrition {
        font-size: 14px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardPricingButton {
        padding: 8px 40px;
        font-size: 12px;
    }
    .cardArrowButton {
        font-size: 26px;
        left: 94% !important;
    }
}

@media screen and (min-width:1280px) and (max-height:800px) {
    .ownAiPricingPage .ownAiPricingPageSection {
        margin: 40px 0;
    }
    .ownAiPricingPageSection .pricingPageCard{
        margin-left: 40px;
        width: 480px;
        height: 650px;
    }
    .ownAiPricingPageSection .pricingPageCard .pricingPageCard .cardBottom .cardPricingHeading {
        font-size: 32px;
    }
    .ownAiPricingPageSection .pricingPageCard .pricingPageCard .cardBottom .cardPricingDescription {
        font-size: 20px;
    }
    .ownAiPricingPageSection .pricingPageCard .cardArrowButton {
        font-size: 40px;
        left: 95%;
    }
    .footerSection {
        position: relative;
    }
}